<h1>Rails App</h1>
<p>Find me in app/views/app/home.html.erb</p>

<%= 
    # uncomment line(s) below to easily view what the instance variables have
    # @apartments
 %>
<%=
    # uncomment line(s) below to easily view what the instance variables have
    # {
    #    logged_in: user_signed_in?,
    #    current_user: current_user,
    #    new_user_route: new_user_registration_path,
    #    sign_in_route: new_user_session_path,
    #    sign_out_route: destroy_user_session_path
    # }
%>  

<%= content_tag(:div, "", id:"app", data: {
    controller: "react",
    react_apartments_value: @apartments,
    react_user_value: {
       logged_in: user_signed_in?,
       current_user: current_user,
       new_user_route: new_user_registration_path,
       sign_in_route: new_user_session_path,
       sign_out_route: destroy_user_session_path
     }
})%>